<footer>
    <img src="~/src/assets/images/LOGO.png" alt="logo" class="footer_logo" />
    <section class="footer_text">
        <p>Настройки</p>
        <p>Сообщение</p>
        <p>Добавить акаунт</p>
        <p>Загрузить объявления</p>
    </section>
    <section class="footer_icons">
        <img src="~/src/assets/images/facebook.png" alt="facebook" class="footer_icon_size" />
        <img src="~/src/assets/images/twitter.png" alt="twitter" class="footer_icon_size" />
        <img src="~/src/assets/images/telegram.png" alt="telegram" class="footer_icon_size" />
    </section>
</footer>