<section class="home_main">
    <header class="nav">
        <section class="connect_account">
            <p>Подключено 5 аккаунтов</p>
            <img alt="human" src="~/src/assets/images/icon_human.png" class="icon_human" />
        </section>
        <img alt="logo" src="~/src/assets/images/LOGO.png" class="settings_logo" />
        <section class="icons">
            <img alt="home" src="~/src/assets/images/home.png" class="icon" />
            <img alt="settings" src="~/src/assets/images/settings.png" class="icon" />
            <img alt="message" src="~/src/assets/images/message.png" class="icon_message" />
            <img alt="exit" src="~/src/assets/images/exit.png" class="icon_exit" />
        </section>
    </header>
    <section class="home_content">
        <section class="main_text">
            <p class="main_title">Создай быстро и качественно объявления на нашем сайте!</p>
            <p class="description">На нашем сайте ты можешь создать быстрые объявление в один клик.</p>
            <btn class="download_btn">Загрузить объявления</btn>
        </section>
        <section class="contact_icons">
            <img src="~/src/assets/images/facebook.png" alt="facebook" class="contact_icon_size" />
            <img src="~/src/assets/images/twitter.png" alt="twitter" class="contact_icon_size" />
            <img src="~/src/assets/images/telegram.png" alt="telegram" class="contact_icon_size" />
        </section>
    </section>
    <img src="~/src/assets/images/arrow_down.png" alt="arrow-down" class="arrow_down" />
</section>