<header class="container-fluid">
    <div class="container">
        <div class="row header-title">
            <div class="col-12 d-flex justify-content-left align-items-center">
                OLX Hepler Application
            </div>
        </div>
    </div>
</header>