@model OLXWebApp.Models.LoginModel
<main>
    <section class="main">
        <section class="girl">
            <img src="~/src/assets/images/LOGO.png" class="logo_girl" alt="logo" />
        </section>
        <section class="login">
            <img src="~/src/assets/images/LOGO.png" class="logo_login" alt="logo" />
            <form class="login_form" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                <p class="enter">Вход</p>
                <section>
                    <p class="login_text">Логин</p>
                    <input type="text" asp-for="Login" />
                    <span asp-validation-for="Login" />
                </section>
                <section>
                    <p class="pass_text">Пароль</p>
                    <input type="password" asp-for="Password" />
                    <span asp-validation-for="Password" />
                </section>
                <section class="check_block">
                    <input type="checkbox" class="check" />
                    <p class="check_text">
                        <span>Я прочел (-ла) и принимаю Условия оказания</span>
                        <span>услуг и Политику конфиденциальности.</span>
                    </p>
                </section>
                <input type="submit" class="enter_btn" value="Войти" />
            </form>
            <p class="bottom_text">
                <span>Мы гарантируем сохранность ваших персональных</span><span>
                    данных, не передаем ваши персональные данные третьим
                </span> лицам.
            </p>
        </section>
    </section>
</main>