@{
    ViewData["Title"] = "Главная страница";
    ViewData["PageTitle"] = "Главная страница пользователя (пока пустая)";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>
        Здесь будет функционал пользователя
    </p>
</div>
