@model OLXAccountModel
@{
    ViewData["Title"] = "Accounts";
}

<div>
    <form asp-action="AddOLXAccount" asp-controller="User" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="container">
            <div class="row">
                <div class="form-group col-2">
                    <input class="form-control" type="text" asp-for="Login" placeholder="Логин" />
                    <span asp-validation-for="Login" />
                </div>
                <div class="form-group col-2">
                    <input class="form-control" asp-for="Password" placeholder="Пароль" />
                    <span asp-validation-for="Password" />
                </div>
                <div class="form-group col-2">
                    <input class="form-control" type="text" asp-for="Name" placeholder="Имя" />
                    <span asp-validation-for="Name" />
                </div>
                <div class="form-group col-2">
                    <input class="form-control" asp-for="Phone" placeholder="Телефон" />
                    <span asp-validation-for="Phone" />
                </div>
                <div class="form-group col-2">
                    <input type="submit" value="Добавить аккаунт" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>

<form asp-controller="User" asp-action="AddOLXAccountsFromExcelFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Import" />
</form>

<div class="accounts-list container mt-3 mb-5">
    @foreach (var user in ViewBag.Accounts)
    {
        <div class="account-list-item shadow m-1 p-3 border border-primary rounded row">
            <div class="list-item-text col"><span>Login: </span>@user.Login</div>
            <div class="list-item-text col"><span>Password: </span>@user.Password</div>
            <div class="list-item-text col"><span>Name: </span>@user.Name</div>
            <div class="list-item-text col"><span>Phone: </span>@user.Phone</div>
            <a class="list-item-delete" href="/User/DeleteOLXAccount?id=@user.Id" id="account-@user.Id"></a>
        </div>
    }

</div>

