<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css">
    <title>Document</title>
</head>
<body>

    <header class="container-fluid">
        <div class="container">
            <div class="row header-title">
                <div class="col-12 d-flex justify-content-left align-items-center">           
                        OLX Hepler Application   
                </div>
            </div>
        </div>
    </header>


        <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
            <a class="navbar-brand" href="#">Разделы:</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Аккаунты OLX<span class="sr-only">(current)</span></a>
                
                </div>
            </div>
        </nav>

    
    
    <div class="main-container container shadow">
        <div class="row">
            <div class="page-title m-4 ml-5">
                Главная страница
            </div>
        </div>

        <div class="RENDER">

            
         <div class="container border-primary border rounded"></div> 
            <form asp-controller="User" asp-action="AddOLXAccountsFromExcelFile" method="post" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="Загрузить" />
            </form>
        </div>
        

    </div>

    <footer class="container-fluid">
        <div class="container">
            <div class="row footer-title">
                <div class="col-12 d-flex justify-content-center align-items-center">           
                        Developed by Selcuk & Burtimax   
                </div>
            </div>
        </div>
    </footer>

    <script src="../lib/jquery/dist/jquery.js"></script>
    <script src="../lib/popper/popper.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>