USE [master]
GO
/****** Object:  Database [OLXWebApp]    Script Date: 04.07.2021 16:43:57 ******/
CREATE DATABASE [OLXWebApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OLXWebApp', FILENAME = N'D:\Programming\DataBase\OLXWebAppDb\OLXWebApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OLXWebApp_log', FILENAME = N'D:\Programming\DataBase\OLXWebAppDb\OLXWebApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OLXWebApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OLXWebApp]
GO
USE [OLXWebApp]
GO
/****** Object:  User [Timon]    Script Date: 04.07.2021 16:43:57 ******/
CREATE USER [Timon] FOR LOGIN [Timon] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Ad]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerGroupAdsId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PhotoCount] [int] NOT NULL,
	[Photos] [nvarchar](max) NOT NULL,
	[CityId] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Ad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdAttributes]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdAttributes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerAdId] [int] NOT NULL,
	[AttributeName] [nvarchar](max) NOT NULL,
	[AttributeValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AdAttributes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegionId] [int] NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Municipality] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupAds]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupAds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Photos] [nvarchar](max) NOT NULL,
	[Cities] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](100) NOT NULL,
	[OwnerOLXAccountId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_GroupAds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OLXAccount]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OLXAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[UserOwnerId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_OLXAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OXLAccountAuthData]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OXLAccountAuthData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OLXAccountId] [int] NOT NULL,
	[ClientId] [varchar](256) NOT NULL,
	[ClientSecret] [varchar](256) NOT NULL,
	[AccessToken] [varchar](256) NOT NULL,
	[AccessTokenChange] [datetime] NOT NULL,
	[ExpiresIn] [int] NOT NULL,
	[TokenType] [varchar](20) NOT NULL,
	[Scope] [varchar](50) NOT NULL,
	[RefreshToken] [varchar](256) NOT NULL,
	[RefreshTokenChange] [datetime] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_OXLAccountAuthData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Filename] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Photo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proxy]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proxy](
	[Id] [int] NOT NULL,
	[Value] [nvarchar](1000) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Proxy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProxyOLXAccount]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProxyOLXAccount](
	[OLXAccountId] [int] NOT NULL,
	[ProxyId] [int] NOT NULL,
 CONSTRAINT [PK_ProxyOLXAccount] PRIMARY KEY CLUSTERED 
(
	[OLXAccountId] ASC,
	[ProxyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Role_UniqueName] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04.07.2021 16:43:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [User_LoginUnique] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ad] ADD  CONSTRAINT [DF_Ad_PhotoCount]  DEFAULT ((1)) FOR [PhotoCount]
GO
ALTER TABLE [dbo].[Ad] ADD  CONSTRAINT [DF_Ad_Status]  DEFAULT (N'stopped') FOR [Status]
GO
ALTER TABLE [dbo].[Ad] ADD  CONSTRAINT [DF_Ad_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[GroupAds] ADD  CONSTRAINT [DF_GroupAds_Status]  DEFAULT (N'stopped') FOR [Status]
GO
ALTER TABLE [dbo].[GroupAds] ADD  CONSTRAINT [DF_GroupAds_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[OLXAccount] ADD  CONSTRAINT [DF_OLXAccount_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[OXLAccountAuthData] ADD  CONSTRAINT [DF_OXLAccountAuthData_TokenType]  DEFAULT ('bearer') FOR [TokenType]
GO
ALTER TABLE [dbo].[OXLAccountAuthData] ADD  CONSTRAINT [DF_OXLAccountAuthData_Scope]  DEFAULT ('v2 read write') FOR [Scope]
GO
ALTER TABLE [dbo].[OXLAccountAuthData] ADD  CONSTRAINT [DF_OXLAccountAuthData_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Proxy] ADD  CONSTRAINT [DF_Proxy_Status]  DEFAULT (N'active') FOR [Status]
GO
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [FK_Ad_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [FK_Ad_City]
GO
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [FK_Ad_GroupAds] FOREIGN KEY([Id])
REFERENCES [dbo].[GroupAds] ([Id])
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [FK_Ad_GroupAds]
GO
ALTER TABLE [dbo].[AdAttributes]  WITH CHECK ADD  CONSTRAINT [FK_AddAttributes_Ad] FOREIGN KEY([OwnerAdId])
REFERENCES [dbo].[Ad] ([Id])
GO
ALTER TABLE [dbo].[AdAttributes] CHECK CONSTRAINT [FK_AddAttributes_Ad]
GO
ALTER TABLE [dbo].[GroupAds]  WITH CHECK ADD  CONSTRAINT [FK_GroupAds_OLXAccount] FOREIGN KEY([Id])
REFERENCES [dbo].[OLXAccount] ([Id])
GO
ALTER TABLE [dbo].[GroupAds] CHECK CONSTRAINT [FK_GroupAds_OLXAccount]
GO
ALTER TABLE [dbo].[OLXAccount]  WITH CHECK ADD  CONSTRAINT [FK_User_Account] FOREIGN KEY([UserOwnerId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[OLXAccount] CHECK CONSTRAINT [FK_User_Account]
GO
ALTER TABLE [dbo].[OXLAccountAuthData]  WITH CHECK ADD  CONSTRAINT [FK_AuthData_OXLAccount] FOREIGN KEY([OLXAccountId])
REFERENCES [dbo].[OLXAccount] ([Id])
GO
ALTER TABLE [dbo].[OXLAccountAuthData] CHECK CONSTRAINT [FK_AuthData_OXLAccount]
GO
ALTER TABLE [dbo].[ProxyOLXAccount]  WITH CHECK ADD  CONSTRAINT [FK_AccountProxy_Account] FOREIGN KEY([OLXAccountId])
REFERENCES [dbo].[OLXAccount] ([Id])
GO
ALTER TABLE [dbo].[ProxyOLXAccount] CHECK CONSTRAINT [FK_AccountProxy_Account]
GO
ALTER TABLE [dbo].[ProxyOLXAccount]  WITH CHECK ADD  CONSTRAINT [FK_AccountProxy_Proxy] FOREIGN KEY([ProxyId])
REFERENCES [dbo].[Proxy] ([Id])
GO
ALTER TABLE [dbo].[ProxyOLXAccount] CHECK CONSTRAINT [FK_AccountProxy_Proxy]
GO
ALTER TABLE [dbo].[Ad]  WITH CHECK ADD  CONSTRAINT [CK_CheckAdStatus] CHECK  (([Status]='stopped' OR [Status]='active' OR [Status]='deleted'))
GO
ALTER TABLE [dbo].[Ad] CHECK CONSTRAINT [CK_CheckAdStatus]
GO
ALTER TABLE [dbo].[GroupAds]  WITH CHECK ADD  CONSTRAINT [CK_GroupAdsCheckStatus] CHECK  (([Status]='stopped' OR [Status]='active' OR [Status]='deleted'))
GO
ALTER TABLE [dbo].[GroupAds] CHECK CONSTRAINT [CK_GroupAdsCheckStatus]
GO
ALTER TABLE [dbo].[Proxy]  WITH CHECK ADD  CONSTRAINT [CK_CheckProxyStatus] CHECK  (([Status]='active' OR [Status]='error' OR [Status]='deleted'))
GO
ALTER TABLE [dbo].[Proxy] CHECK CONSTRAINT [CK_CheckProxyStatus]
GO
USE [master]
GO
